<style> 
div{    
    position: absolute;    top:15%; left:40%;
} 
 </style>


<html>
<body >
<div align ="center">
	

	<h1 align = "center" ><font color = "#888888" >Hello</font></h1>
	<h1 align = "center" ><font color = "#888888" >This is my blog!</font></h1>
    <%= link_to 'My Blog',   {controller: 'articles'},  :style=>"text-decoration:none"%>
</div>
</body>
</html>